<div class="doctor-message">
        <div class="inner-lay">
            <div class="container">
               <div class="row session-title">
                   <h2>Our Achievemtns in Numbers</h2>
                   <p>Let our results do the talking. We've achieved extraordinary success in various areas.</p>
               </div>
                <div class="row">
                    <div class="col-sm-3 numb">
                        <h3>100+</h3>
                        <span>NGO's COLLABORATING</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>5000+</h3>
                        <span>SMILING FACES</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>700+</h3>
                        <span>EVENTS</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>80+</h3>
                        <span>FUNT RAISED</span>
                    </div>
                </div>
            </div>

        </div>

    </div> 