<footer class="footer-new navbar-dark bg-dark text-light py-4 mt-5 sticky-bottom">
    <div class="text-center">
        Connect with us on the other side of web aswell:
    </div>
    <div class="navbar-nav text-center">
        <div class="row m-auto justify-content-center">
            <a class="nav-item nav-link mx-2 mb-1 mail" href="#">Mail</a>
            <a class="nav-item nav-link mx-2 mb-1 facebook" href="#">Facebook</a>
            <a class="nav-item nav-link mx-2 mb-1 twitter" href="#">Twitter</a>
            <a class="nav-item nav-link mx-2 mb-1 instagram" href="#">Instagram</a>
            <a class="nav-item nav-link mx-2 mb-1 linkedin" href="#">LinkedIn</a>
            <a class="nav-item nav-link mx-2 mb-1 pinterest" href="#">Pinterest</a>
        </div>
    </div>
    <div class="text-center mt-4">&#169; 2021 WeCare Foundations</div>
</footer>

