<nav class="header-section navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">
        <img src="assets/images/logo2.png" width="180" class="d-inline-block align-top" alt="">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav ml-auto">        
            <a class="nav-item nav-link m-2" href="/">Home</a>
            {{#if isIndexPage}}
            <a class="nav-item nav-link m-2" href="/#about-us">About Us</a>
            <a class="nav-item nav-link m-2" href="/#portfolio">Gallery</a>
            <a class="nav-item nav-link m-2" href="/#blog">Blog</a>
            <a class="nav-item nav-link m-2" href="/#contact-us">Contact Us</a> 
            {{/if}}       
            {{#if user}}
            <a class="nav-item nav-link m-2" href="/activity">Public Activities</a>
            <a class="nav-item nav-link m-2" href="/dashboard">Dashboard</a>
            <a class="nav-item nav-link m-2" href="/auth/logout">Logout</a>
            {{else}}
            <a class="nav-item nav-link m-2" href="/auth/login">Sign In</a>
            {{/if}}
        </div>
    </div>
</nav>