<section class="our-team team-11">
    <div class="container">
        <div class="session-title row">
                <h2 class="our-team-title">Meet our Team</h2>
                <p>NMR Enterprice / Website Development</p>
        </div>
        <div class="card-columns text-center">
            <div class="card">
                <div class="single-usr card-image-top">
                    <img src="assets/images/team/mansi.jpeg" alt="">
                </div>
                <div class="det-o card-body">
                    <h4 class="card-title">Mansi shah</h4>
                    <i class="card-text">Team Leader</i>
                </div>                        
            </div>
            <div class="card">
                <div class="single-usr card-image-top">
                    <img src="assets/images/team/darsh.jpeg" alt="">
                </div>
                <div class="det-o card-body">
                    <h4 class="card-title">Darsh Patel</h4>
                    <i class="card-text">Backend developer</i>
                </div>                        
            </div>
            <div class="card">
                <div class="single-usr card-image-top">
                    <img src="assets/images/team/aarambh.jpeg" alt="">
                </div>
                <div class="det-o card-body">
                    <h4 class="card-title">Aarambh verma</h4>
                    <i class="card-text">Backend developer</i>
                </div>                        
            </div>
            <div class="card">
                <div class="single-usr card-image-top">
                    <img src="assets/images/team/shrey.jpeg" alt="">
                </div>
                <div class="det-o card-body">
                    <h4 class="card-title">Shrey</h4>
                    <i class="card-text">Frontend developer</i>
                </div>                        
            </div>
            <div class="card">
                <div class="single-usr card-image-top">
                    <img src="assets/images/team/vrunda.jpeg" alt="">
                </div>
                <div class="det-o card-body">
                    <h4 class="card-title">Vrunda</h4>
                    <i class="card-text">Frontend developer</i>
                </div>                        
            </div>            
            <div class="card">
                <div class="single-usr card-image-top">
                    <img src="assets/images/team/vaidehi.jpeg" alt="">
                </div>
                <div class="det-o card-body">
                    <h4 class="card-title">Vaidehi</h4>
                    <i class="card-text">Frontend developer</i>
                </div>                        
            </div>
        </div>
    </div>
</section>


{{!-- <div class="card-container">
  <div class="card card0" style="background: url('assets/images/team/mansi.jpeg') center center no-repeat;">
    <div class="border">
      <h2>Al Pacino</h2>
      <div class="icons">
        <i class="fa fa-codepen" aria-hidden="true"></i>
        <i class="fa fa-instagram" aria-hidden="true"></i>
        <i class="fa fa-dribbble" aria-hidden="true"></i>
        <i class="fa fa-twitter" aria-hidden="true"></i>
        <i class="fa fa-facebook" aria-hidden="true"></i>
      </div>
    </div>
  </div>
</div> --}}
<div class="new-our-team">
    <div class="col-md-4">
        <div class="card p-2 border-0">
            <img src="assets/images/team/mansi.jpeg">
            <div class="overlay"></div>
            <div class="card-border"></div>
                            
            <h1 class="card-title">Mansi Shah</h1>
            <div class="contact-icons">
                <a href="http://"><i class="fab fa-linkedin-in"></i></a>
                <a href="http://"><i class="fab fa-github"></i></a>
            </div>            
        </div>
    </div>
</div>