<section class="our-team team-11">
            <div class="container">
                <div class="session-title row">
                      <h2>Meet our Team</h2>
                      <p>NMR Enterprice / Website Development</p>
                </div>
                <div class="card-columns text-center">
                    <div class="card">
                        <div class="single-usr card-image-top">
                            <img src="assets/images/team/mansi.jpeg" alt="">
                        </div>
                        <div class="det-o card-body">
                            <h4 class="card-title">Mansi shah</h4>
                            <i class="card-text">Team Leader</i>
                        </div>                        
                    </div>
                    <div class="card">
                        <div class="single-usr card-image-top">
                            <img src="assets/images/team/darsh.jpeg" alt="">
                        </div>
                        <div class="det-o card-body">
                            <h4 class="card-title">Darsh Patel</h4>
                            <i class="card-text">Backend developer</i>
                        </div>                        
                    </div><div class="card">
                        <div class="single-usr card-image-top">
                            <img src="assets/images/team/aarambh.jpeg" alt="">
                        </div>
                        <div class="det-o card-body">
                            <h4 class="card-title">Aarambh verma</h4>
                            <i class="card-text">Backend developer</i>
                        </div>                        
                    </div><div class="card">
                        <div class="single-usr card-image-top">
                            <img src="assets/images/team/vaidehi.jpeg" alt="">
                        </div>
                        <div class="det-o card-body">
                            <h4 class="card-title">Vaidehi</h4>
                            <i class="card-text">Frontend developer</i>
                        </div>                        
                    </div><div class="card">
                        <div class="single-usr card-image-top">
                            <img src="assets/images/team/vrunda.jpeg" alt="">
                        </div>
                        <div class="det-o card-body">
                            <h4 class="card-title">Vrunda</h4>
                            <i class="card-text">Frontend developer</i>
                        </div>                        
                    </div><div class="card">
                        <div class="single-usr card-image-top">
                            <img src="assets/images/team/shrey.jpeg" alt="">
                        </div>
                        <div class="det-o card-body">
                            <h4 class="card-title">Shrey</h4>
                            <i class="card-text">Frontend developer</i>
                        </div>                        
                    </div>

                </div>
                
            </div>
        </section>      