{{> navbar}}    
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2 class="mb-3">Hello {{user.name}}</h2>
                <h2>Admin Dashboard</h2>
                
                <div class="d-flex align-items-center justify-content-center container mt-4">
                    <button type="submit" name="view-act" onclick="javascript:location.href='/activity'"  class="btn btn-success mr-2">View Activity</button>
                    <button type="submit" name="create-act" onclick="javascript:location.href='/activity/add'" class="btn btn-success ml-2">Create New Activity</button>
                </div>                
            </div>
        </div>
    </div>
    {{> footer}}
    
