

  {{> navbar}}
                 
  <!-- ******************** Slider Starts Here ******************* -->
    <div class="slider">
        <div class="owl-carousel ">
            <div class="slider-img">
                <div class="item">
                    <div class="slider-img"><img src="assets/images/slider/slider-3.jpg" alt=""></div>
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                                <div class="animated bounceInDown slider-captions">
                                    <h1 class="slider-title">Try to give happiness to the poor...</h1>
                                    <p class="slider-text hidden-xs">then see how happy u feel.</p>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="assets/images/slider/slider-1.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions ">
                                <h1 class="slider-title">The meaning of life is to find your gift. </h1>
                                <p class="slider-text hidden-xs">The purpose of life is to give it away</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="slider-img"><img src="assets/images/slider/slider-2.jpg" alt=""></div>
                <div class="container">
                    <div class="row">
                        <div class="col-lg-offset-2 col-lg-8 col-md-offset-2 col-md-8 col-sm-12 col-xs-12">
                            <div class="slider-captions ">
                                <h1 class="slider-title">No person was ever honored for what he received.</h1>
                                <p class="slider-text hidden-xs">He was honored for what he gave.</p>
                               
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>                 
                  
 <!--  ************************* About Us Starts Here ************************** -->    
       
<div class="about-us container-fluid">
    <div class="container">

        <div class="row natur-row no-margin w-100">
            <div class="text-part col-md-6">
                <h2>About Our Charity</h2>
                <p>WeCare has been established in 2020 by a bunch of college students who aimed to have an integrated network of NGOs and the donors, while making the volunteering process more convenient </p>
                <p> WeCare is a registered charity that establishes a close mesh of the NGOs across the India and the people by acting as a connective link between the NGOs and donors/ volunteers.</p>
                <p>WeCare community has done a proud job, connecting 300+ people to the NGOs for helping the needy people and also creating a large network of volunteers across the nation. Our people are spread across Gujarat, Delhi and Kerala, identifying and working on ground level problems.</p>
                <p>The results of this unique program have been ground-breaking, awareness rates have been improved by an average of 85 per cent across the Gujarat. 73 per cent more service provided to the rural areas, 50 more poor kids are getting food compared to year 2020 because of the established network of volunteers.</p>
            </div>
            <div class="image-part col-md-6">
                <div class="about-quick-box row">
                    <div class="col-md-6">
                        <div class="about-qcard">
                           <i class="fas fa-user"></i>
                            <p>Becom a Volunteer</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                           <i class="fas fa-search-dollar red"></i>
                            <p>Quick Fundrais</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                           <i class="fas fa-donate yell"></i>
                            <p>Giv Donation</p>
                        </div>
                    </div>
                     <div class="col-md-6">
                        <div class="about-qcard ">
                           <i class="fas fa-hands-helping blu"></i>
                            <p>Help Someone</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>     
   
   
    
 <!-- ################# Mission Vision Start Here #######################--->
  
  <section class="container-fluid mission-vision">
      <div class="container">
          <div class="row mission">
              <div class="col-md-6 mv-det">
                  <h1>Our Mission</h1>
                  <p>Our work aims to break the vicious cycle of poverty and social isolation and to restore hope for a better future. We believe that every person has the right to access resources and opportunities in order to live and develop with dignity, to become an active and contributing member of our society.</p>
              </div>
              <div class="col-md-6 mv-img">
                  <img src="assets/images/misin.jpg" alt="">
              </div>
          </div>
          <div class="row vision">
              <div class="col-md-6 mv-img">
                   <img src="assets/images/vision.jpg" alt="">
              </div>
              <div class="col-md-6 mv-det">
                   <h1>Our Vision</h1>
                   <p>1. Togenerate resources through collective initiatives and community partnerships, and use them to make an impact in the lives of children.<br>
                    2.To attract volunteers and partners who are passionate about helping children achieve their hopes, dreams to full potential.<br>
                    3.To transform communities through helping children, youth and their families who need support.
                   </p>
              </div>
          </div>
      </div>
  </section>   


     <!-- ################# Charity Number Starts Here#######################--->


    <div class="doctor-message">
        <div class="inner-lay">
            <div class="container">
               <div class="row session-title">
                   <h2>Our Achievemtns in Numbers</h2>
                   <p>We can talk for a long time about advantages of our Dental clinic before other medical treatment facilities.
But you can read the following facts in order to make sure of all pluses of our clinic:</p>
               </div>
                <div class="row">
                    <div class="col-sm-3 numb">
                        <h3>12+</h3>
                        <span>YEARS OF EXPEREANCE</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>1812+</h3>
                        <span>HAPPY CHILDRENS</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>52+</h3>
                        <span>EVENTS</span>
                    </div>
                    <div class="col-sm-3 numb">
                        <h3>48+</h3>
                        <span>FUNT RAISED</span>
                    </div>
                </div>
            </div>

        </div>

    </div> 
         
    <!--################### Our Team Starts Here #######################--->
          <section class="our-team team-11">
            <div class="container">
                <div class="session-title row">
                      <h2>Meet our Team</h2>
                      <p>NMR Enterprice / Website Development</p>
                </div>
                <div class="card-columns text-center">
                    <div class="card">
                        <div class="single-usr card-image-top">
                            <img src="assets/images/team/mansi.jpeg" alt="">
                        </div>
                        <div class="det-o card-body">
                            <h4 class="card-title">Mansi shah</h4>
                            <i class="card-text">Team Leader</i>
                        </div>                        
                    </div>
                    <div class="card">
                        <div class="single-usr card-image-top">
                            <img src="assets/images/team/darsh.jpeg" alt="">
                        </div>
                        <div class="det-o card-body">
                            <h4 class="card-title">Darsh Patel</h4>
                            <i class="card-text">Backend developer</i>
                        </div>                        
                    </div><div class="card">
                        <div class="single-usr card-image-top">
                            <img src="assets/images/team/aarambh.jpeg" alt="">
                        </div>
                        <div class="det-o card-body">
                            <h4 class="card-title">Aarambh verma</h4>
                            <i class="card-text">Backend developer</i>
                        </div>                        
                    </div><div class="card">
                        <div class="single-usr card-image-top">
                            <img src="assets/images/team/vaidehi.jpeg" alt="">
                        </div>
                        <div class="det-o card-body">
                            <h4 class="card-title">Vaidehi</h4>
                            <i class="card-text">Frontend developer</i>
                        </div>                        
                    </div><div class="card">
                        <div class="single-usr card-image-top">
                            <img src="assets/images/team/vrunda.jpeg" alt="">
                        </div>
                        <div class="det-o card-body">
                            <h4 class="card-title">Vrunda</h4>
                            <i class="card-text">Frontend developer</i>
                        </div>                        
                    </div><div class="card">
                        <div class="single-usr card-image-top">
                            <img src="assets/images/team/shrey.jpeg" alt="">
                        </div>
                        <div class="det-o card-body">
                            <h4 class="card-title">Shrey</h4>
                            <i class="card-text">Frontend developer</i>
                        </div>                        
                    </div>

                </div>
                
            </div>
        </section>      
         
          
   {{> footer}} 
</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="assets/plugins/slider/js/owl.carousel.min.js"></script>
<script src="assets/js/script.js"></script>

</html>