{{> navbar}}
  <!--  ************************* Page Title Starts Here ************************** -->
        
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Profile</h2>
                <!--<ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i>Profile</li>
                </ul>-->
            </div>
        </div>
    </div>
    
    
   
  <!--  ************************* Contact Us Starts Here ************************** -->
<p align="center">Name:</p>

      
      
       
  
                 
  <!--  ************************* Footer Starts Here ************************** -->
          
      {{> footer}}
