
  {{> navbar}}
  <!--  ************************* Page Title Starts Here ************************** -->
        
    <div class="page-nav no-margin row">
        <div class="container">
            <div class="row">
                <h2>Various Activities</h2>
                <ul>
                    <li> <a href="#"><i class="fas fa-home"></i> Home</a></li>
                    <li><i class="fas fa-angle-double-right"></i> About Us</li>
                </ul>
            </div>
        </div>
    </div>
    
    
   
  <!-- ################# Events Start Here#######################--->
    <section class="events">
        <div class="container">
           
            <div class="event-ro row">
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="assets/images/Food1.jpg" alt="Food Donation">
                        <h4>Food Donation</h4>
                        
                        <p class="raises"><span></span></p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <button class="btn btn-success btn-sm" onclick="javascript:location.href='activity.html'">Contribute</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="assets/images/Clothes1.jpg" alt="Clothes Donation">
                        <h4>Clothes Donation</h4>
                        <p class="raises"><span></span></p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <button class="btn btn-success btn-sm"onclick="javascript:location.href='activity.html'">Contribute</button>
                    </div>
                </div>
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="assets/images/events/image_04.jpg" alt="">
                        <h4>Books Donation</h4>
                        <p class="raises"><span></span></p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <button class="btn btn-success btn-sm" onclick="javascript:location.href='activity.html'">Contribute</button>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="assets/images/SPD1.jpg" alt="Sanitary Napkins Donation">
                        <h4>Sanitary Napkins Donation</h4>
                        <p class="raises"><span></span></p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <button class="btn btn-success btn-sm" onclick="javascript:location.href='activity.html'">Contribute</button>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="assets/images/events/image_06.jpg" alt="">
                        <h4>Toys Donation</h4>
                        <p class="raises"><span></span></p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <button class="btn btn-success btn-sm" onclick="javascript:location.href='activity.html'">Contribute</button>
                    </div>
                </div>
                 <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <img src="assets/images/teach.jpg" alt="Rural Weekend School">
                        <h4>Rural Weekend School</h4>
                        <p class="raises"><span></span></p>
                        <p class="desic">Lorem Ipsum is simply dummy text of the printing and typesetting industry.  Lorem Ipsum has been the industry's </p>
                        <button class="btn btn-success btn-sm" onclick="javascript:location.href='activity.html'">Contribute</button>
                    </div>
                </div>
            </div>
        </div>
    </section>   
      
       
  
                 
  <!--  ************************* Footer Starts Here ************************** -->
          
      {{> footer}}
