<h1 class="display-4 mb-1">More from {{authorID.name}}</h1>
{{#if activities}}
<div class="row mb-5">
    {{#each activities}}
    <div class="col-lg-4 col-md-6 col-sm-12 my-2">
        <div class="card border-0">
            <div class="card-body">
                <h3 class="card-title">{{name}}</h3>             
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{else}}
<p>No public stories available. Try adding some!</p>
{{/if}}
<h1>HELLO</h1>