{{> navbar}}   
  <!-- ################# Events Start Here#######################--->
    <section class="events">
        <div class="container">
           
            <div class="event-ro row"> 
                
                <div class="col-md-4 col-sm-6">
                    <div class="event-box">
                        <h4>Food Donation</h4><br>
                        <img src="assets/images/Food1.jpg" alt="Food Donation">
                        <!--<h4>Food Donation</h4>-->
                                                
                        <p class="desic"></p>
                        <button class="btn btn-success btn-sm">Enroll</button>
                        <button class="btn btn-success btn-sm">Donate</button>
                    </div>
                </div>
            </div>
        </div>
    </section> 
      
       
  
                 
  <!--  ************************* Footer Starts Here ************************** -->
          
      {{> footer}}
    
</body>

<script src="assets/js/jquery-3.2.1.min.js"></script>
<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>
<script src="assets/plugins/scroll-fixed/jquery-scrolltofixed-min.js"></script>
<script src="assets/plugins/slider/js/owl.carousel.min.js"></script>
<script src="assets/js/script.js"></script>

</html>