<h1>Register</h1>
<form action="/auth/register" method="post">
    <div class="form-group">
        <label for="name">Name</label>
        <input
        type="name"
        id="name"
        name="name"
        class="form-control"
        placeholder="Enter Name"
        value="{{validateValues name}}"
        />
    </div>
    <div class="form-group">
        <label for="email">Email</label>
        <input
        type="email"
        id="email"
        name="email"
        class="form-control"
        placeholder="Enter Email"
        value="{{validateValues email}}"
        />
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input
        type="password"
        id="password"
        name="password"
        class="form-control"
        placeholder="Create Password"
        value="{{validateValues password}}"
        />
    </div>
    <div class="form-group">
        <label for="password2">Confirm Password</label>
        <input
        type="password"
        id="password2"
        name="password2"
        class="form-control"
        placeholder="Confirm Password"
        value="{{validateValues password2}}"
        />
    </div>
    <div class="form-group">
        <label for="isAdmin">Sign up as an admin</label>
        <input type="checkbox" name="isAdmin" id="isAdmin" checked {{#if checked}}value="true"{{/if}}>
    </div>
    <button type="submit" class="btn btn-primary btn-block">
        Register
    </button>
</form>
{{> errors}}
<p class="lead mt-4">Have An Account? <a href="/auth/login">Login</a></p>
</body>
</html>