<section class="error-page_404 container">		
	<h1 class="error-page-heading">404</h1>				
	<img src="/assets/gif/error-gif-1.gif" class="four_zero_four_bg">
	<h3 class="error-page-subheading">Looks like you're lost</h3>
	<h5 class="error-page-para">the page you are looking for is not available 😟</h5>
	<a href="/dashboard" class="link_404">Back to dashboard</a>
</section>